
<div class="AuthContainer ChangePasswordFormContainer">
    <form asp-action="ChangePasswordForForgotten" asp-controller="Auth" class="ChangePasswordForm">
        <input name="SecretKey" type="hidden" value="@ViewBag.SecretKey">
        <input name="Email" type="hidden" value="@ViewBag.Email">
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="Password" type="password" class="form-control" placeholder="">
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-success changePassword">Login</button>
        </div>
    </form>
</div>

