
<div class="AuthContainer ForgetMyPasswordFormContainer">
    <form asp-action="ForgetMyPassword" asp-controller="Auth" class="ForgetMyPaswordForm" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input name="Email" type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-success forgetMyPassword">Şifremi sıfırla</button>
        </div>
    </form>
</div>

