<div class="AuthContainer RegisterFormContainer">
    <form asp-action="Register" asp-controller="Auth" class="RegisterForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input name="Name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input name="Email" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="Password" type="password" class="form-control" placeholder="">
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-success register">Register</button>
        </div>
    </form>
</div>

